.EmployeeTable {
  padding: 0.5rem;
}

.EmployeeTable table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

.EmployeeTable tbody tr {
  background-color: rgb(198, 218, 255);
}

.EmployeeTable tbody tr:nth-child(even) {
  background-color: rgb(219, 230, 255);
}

.EmployeeTable td,
.EmployeeTable th {
  padding: 0.2rem;
}

.EmployeeTable button {
  padding: .2rem 1rem;
  margin: .1rem;
}
