.EmployeeTable {
  padding: 1rem;
}

.EmployeeTable table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

.EmployeeTable tbody tr {
  background-color: rgb(198, 198, 255);
}

.EmployeeTable tbody tr:nth-child(even) {
  background-color: rgb(123, 123, 251);
}

.EmployeeTable td,
.EmployeeTable th {
  padding: 1rem;
}

.EmployeeTable button {
  padding: .7rem 1.7rem;
  margin: .2rem;
  font-weight: bold;
  color: black;
  text-transform: uppercase;
  outline: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0px 0px 5px black;
}